########################################
# The core plugins
# -------------------------------------
# This toml is needed.
########################################

########################################
# Denops
# -------------------------------------
# Deno for vim.
# Needed for dpp and ddc.
########################################
[[plugins]]
repos = 'vim-denops/denops.vim'

[[plugins]]
repos = 'vim-denops/denops-shared-server.vim'
hook_add = '''
let g:denops_server_addr = '127.0.0.1:32123'
'''

########################################
# DPP
# -------------------------------------
# Plugin manager for vim.
# Needed for all.
########################################
[[plugins]]
# The dark powerd plugin manager.
repos = 'Shougo/dpp.vim'
[[plugins]]
# Git for plugin.
lazy = true
repos = 'Shougo/dpp-protocol-git'
[[plugins]]
# Toml reader for plugin manager.
lazy = true
repos = 'Shougo/dpp-ext-toml'
[[plugins]]
# Lazy plugin loader.
lazy = true
repos = 'Shougo/dpp-ext-lazy'
[[plugins]]
# Local plugins.
lazy = true
repos = 'Shougo/dpp-ext-local'
[[plugins]]
# Plugin installer.
lazy = true
repo = 'Shougo/dpp-ext-installer'
hook_add = '''
'''
